<div class="footer">
    <div class="izq">
        <i class="fa-solid fa-terminal"><p style="display: inline;">Argentina Programa</p></i>
        <hr  size="6px" color="white"/>
        <p>Especiales agradecimientos a la gente de Argentina programa que hizo esto posible</p>
    </div>
    <div class="med">
        <br>
        <a href="https://www.linkedin.com/in/lerv/" target="_blank"><i class="fa-brands fa-linkedin" style="font-size: 3rem;"></i></a>  
        <a href="https://github.com/LERV1993" target="_blank"><i class="fa-brands fa-github" style="font-size: 3rem;"></i></a>
        <a href="#nav-bar"><i class="fa-solid fa-house" style="font-size: 3rem;"></i></a>
        <h1>LERV1993</h1>
        <p>Copiright® 2023</p>
    </div>
    <div class="der">
        <br>
        <br class="relleno" style="display: none;">
        <hr  size="6px" color="white"/>
    </div>
</div>

