<div id="nav-bar">
    <ul id="nav">
        <li id="about">
            <a href="#informacion"> {{myPortfolio.Nav.Acerca}} </a>
        </li>
        <li id="experience">
            <a href="#experience-LERV"> {{myPortfolio.Nav.Experiencia}} </a>
        </li>
        <li id="education">
            <a href="#education-LERV"> {{myPortfolio.Nav.Educacion}} </a> 
        </li>
        <li id="skills">
            <a href="#skills-hs"> {{myPortfolio.Nav.Habilidades}} </a> 
         </li>
        <li id="projects">
            <a href="#projects-LERV"> {{myPortfolio.Nav.Proyectos}} </a> 
        </li>
    </ul>
</div>