<div id="banner">
    <div class="block-banner">
        <p class="banner-greet">{{myPortfolio.Banner.Saludo_1}}<span class="admiracion">{{myPortfolio.Banner.Admiracion}}</span> <br>
            {{myPortfolio.Banner.Saludo_2}} <span class="comillas">{{myPortfolio.Banner.Comilla}}</span>{{myPortfolio.Banner.Saludo_3}}<span class="comillas">{{myPortfolio.Banner.Comilla}}</span>{{myPortfolio.Banner.Saludo_4}}</p>
        <h3 class="banner-greet" style="text-align: center;">{{myPortfolio.Banner.Subtitulo}}</h3>
    </div>
    <div class="about-me">
        <div class="img-perfil-banner">
            <img [src]="myPortfolio.Banner.IMG_LERV" alt="Perfil-LERV" class="rounded-circle" style="height: 225px;">
            <p> {{myPortfolio.Banner.Pie_foto_1}}<br>
                {{myPortfolio.Banner.Pie_foto_2}}</p>
        </div>    
        <div id="informacion">
            <p> {{myPortfolio.Banner.Presentacion_1}} <br>
                {{myPortfolio.Banner.Presentacion_2}} <br>
                {{myPortfolio.Banner.Presentacion_3}} <br></p>
        </div>
    </div> 
  </div>