<div class="bloque" id="education-LERV">
    <h1 class="titulo-contenedores"> {{myPortfolio.Educacion.Titulo}} </h1>
    <div class="contenedor">
        <img [src]="myPortfolio.Educacion.ETN28.IMG_ET28" alt="logo-ET-28" class="logo">
        <p>
            {{myPortfolio.Educacion.ETN28.Carrera_Titulo}}<br>
            {{myPortfolio.Educacion.ETN28.Institucion}}<br>
            {{myPortfolio.Educacion.ETN28.Estado}}<br>
            {{myPortfolio.Educacion.ETN28.Fecha}}<br>
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Educacion.IFTSN4.IMG_IFTSN4" alt="logo-IFTSN4" class="logo">
        <p>
            {{myPortfolio.Educacion.IFTSN4.Carrera_Titulo}}<br>
            {{myPortfolio.Educacion.IFTSN4.Institucion}}<br>
            {{myPortfolio.Educacion.IFTSN4.Estado}}<br>
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Educacion.FreeCodeCamp.IMG_FCC" alt="logo-freecodecamp" class="logo">
        <p>
            {{myPortfolio.Educacion.FreeCodeCamp.Carrera_Titulo}}<br>
            {{myPortfolio.Educacion.FreeCodeCamp.Institucion}}<br>
            {{myPortfolio.Educacion.FreeCodeCamp.Estado}}<br>
            {{myPortfolio.Educacion.FreeCodeCamp.Fecha}}<br>
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Educacion.ArgentinaPrograma.IMG_AP" alt="logo-argentina-programa" class="logo">
        <p>
            {{myPortfolio.Educacion.ArgentinaPrograma.Carrera_Titulo}}<br>
            {{myPortfolio.Educacion.ArgentinaPrograma.Institucion}}<br>
            {{myPortfolio.Educacion.ArgentinaPrograma.Estado}}<br>
            {{myPortfolio.Educacion.ArgentinaPrograma.Fecha}}<br>
        </p>
    </div>
  </div>