<div class="bloque" id="experience-LERV">
    <h1 class="titulo-contenedores">{{myPortfolio.Experiencia.Titulo}}</h1>
    <div class="contenedor">
        <img [src]="myPortfolio.Experiencia.BGH.IMG_BGH" alt="logo-bgh" class="logo">
        <p class="experiencia-1"> 
            {{myPortfolio.Experiencia.BGH.Cargo}} <br>
            {{myPortfolio.Experiencia.BGH.Empresa}} <br>
            {{myPortfolio.Experiencia.BGH.InicioFin}} <br>
            {{myPortfolio.Experiencia.BGH.Lugar}} <br>
            {{myPortfolio.Experiencia.BGH.Desc_1}} <br>
            {{myPortfolio.Experiencia.BGH.Desc_2}} <br> 
            {{myPortfolio.Experiencia.BGH.Desc_3}} <br>
            {{myPortfolio.Experiencia.BGH.Desc_4}} 
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Experiencia.Trocafone.IMG_Trocafone" alt="logo-trocafone" class="logo">
        <p class="experiencia-2">
            {{myPortfolio.Experiencia.Trocafone.Cargo}} <br>
            {{myPortfolio.Experiencia.Trocafone.Empresa}} <br>
            {{myPortfolio.Experiencia.Trocafone.InicioFin}} <br>
            {{myPortfolio.Experiencia.Trocafone.Lugar}} <br>
            {{myPortfolio.Experiencia.Trocafone.Desc_1}} <br>
            {{myPortfolio.Experiencia.Trocafone.Desc_2}} <br> 
            {{myPortfolio.Experiencia.Trocafone.Desc_3}} <br>
            {{myPortfolio.Experiencia.Trocafone.Desc_4}} 
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Experiencia.Brightstar.IMG_Brightstar" alt="logo-brightstar" class="logo">
        <p class="experiancia-3">
            {{myPortfolio.Experiencia.Brightstar.Cargo}} <br>
            {{myPortfolio.Experiencia.Brightstar.Empresa}} <br>
            {{myPortfolio.Experiencia.Brightstar.InicioFin}} <br>
            {{myPortfolio.Experiencia.Brightstar.Lugar}} <br>
            {{myPortfolio.Experiencia.Brightstar.Desc_1}} <br>
            {{myPortfolio.Experiencia.Brightstar.Desc_2}} <br> 
            {{myPortfolio.Experiencia.Brightstar.Desc_3}} <br>
            {{myPortfolio.Experiencia.Brightstar.Desc_4}} <br>
            {{myPortfolio.Experiencia.Brightstar.Desc_5}}
        </p>
    </div>
    <div class="contenedor">
        <img [src]="myPortfolio.Experiencia.Tecnoimagen.IMG_Tecnoimagen" alt="logo-tecnoimagen" class="logo">
        <p class="experiencia-4">
            {{myPortfolio.Experiencia.Tecnoimagen.Cargo}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Empresa}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.InicioFin}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Lugar}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Desc_1}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Desc_2}} <br> 
            {{myPortfolio.Experiencia.Tecnoimagen.Desc_3}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Desc_4}} <br>
            {{myPortfolio.Experiencia.Tecnoimagen.Desc_5}}
        </p>
    </div>
  </div>